Repository CalgaryToSpace/CTS-SAT-1-OBC-Firmware, pull requests merged in 2024-07, with the labels that each got.

#92 Remove spaces from Telecommand_Spec docs
  docs/Telecommand_Spec.md
Labels: documentation

#115 Rebooting using Telecommand
  README.md
  firmware/Core/Inc/telecommands/telecommand_definitions.h
  firmware/Core/Src/telecommands/telecommand_definitions.c
Labels: good first issue, command, quick

#120 Telecommand extract int64 function
  firmware/Core/Inc/telecommands/telecommand_args_helpers.h
  firmware/Core/Inc/unit_tests/test_telecommand_arg_helpers.h
  firmware/Core/Src/telecommands/telecommand_args_helpers.c
  firmware/Core/Src/unit_tests/test_telecommand_arg_helpers.c
  firmware/Core/Src/unit_tests/unit_test_inventory.c
Labels: command, blocker
